<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="app.js"></script>
</head>
<body>
    <header>
        <div class="container top-link">
          <a href="/" class="top-button">ToDo Application</a>
        </div>
    </header>
    <div class="container">
        <div class="container-header">
            <h1>ToDoリスト作成</h1>
        </div>
        <div class="list-form-wrapper">
            <p class="form-label">やること</p>
            <form action="/create" method="post">
            <input type="text" name="listName">
            <input type="submit" value="作成する">
            </form>
        </div>
        <a href="/main" class="cancel-button">もどる</a>
    </div>
</body>
</html>