<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo APP</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="app.js"></script>
</head>
<body>
    <header>
        <div class="container">
          <h1 class="head-title">ToDo Application</h1>
        </div>
    </header>
    <div class="top-wrapper">
        <div class="container">
            <img src="https://free-materials.com/adm/wp-content/uploads/2018/12/logo_yotuba03-300x300.png" class="top-icon">
            <p class="description">ToDoListで生活にメリハリをつけましょう。</p>
            <a href="/main" class="index-button">始める</a>
        </div>
    </div>
</body>
</html>